{% load i18n %}
{% load static %}

<div class="oh-dropdown__filter-body">
    <div class="oh-accordion{% if modern_filter %} oh-accordion--show{% endif %}">
        <div class="oh-accordion-header">
            <span class="oh-filter-section-icon"><ion-icon name="people-outline"></ion-icon></span>
            {% trans 'Candidate' %}
        </div>
        <div class="oh-accordion-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Tasks' %}</label>
                        {{ form.tasks }}
                    </div>
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Task Status' %}</label>
                        {{ form.task_status }}
                    </div>
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Start Date' %}</label>
                        {{ form.start_date }}
                    </div>
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'End Date' %}</label>
                        {{ form.end_date }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Portal Sent' %}?</label>
                        {{ form.portal_sent }}
                    </div>
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Joining Set' %}?</label>
                        {{ form.joining_set }}
                    </div>
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Probation End From' %}</label>
                        {{ form.probation_end_from }}
                    </div>
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Probation End Till' %}</label>
                        {{ form.probation_end_till }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oh-accordion{% if modern_filter %} oh-accordion--show{% endif %}">
        <div class="oh-accordion-header">
            <span class="oh-filter-section-icon"><ion-icon name="calendar-outline"></ion-icon></span>
            {% trans 'Interview' %}
        </div>
        <div class="oh-accordion-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Scheduled From' %}</label>
                        {{ form.scheduled_from }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans 'Scheduled Till' %}</label>
                        {{ form.scheduled_till }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oh-accordion{% if modern_filter %} oh-accordion--show{% endif %}">
        <div class="oh-accordion-header"
            onclick="event.stopImmediatePropagation();$(this).parent().toggleClass('oh-accordion--show');"
        >
            <span class="oh-filter-section-icon"><ion-icon name="options-outline"></ion-icon></span>
            {% trans "Advanced" %}
        </div>
        <div class="oh-accordion-body">
            <!-- Registry: PipelineCandidateFilter._build_custom_filter_fields
                 (onboarding/filters.py); applied server-side by
                 HorillaFilterSet._apply_custom_filters. Row markup/JS are
                 generic (initCustomFilterBuilder, horilla_nav.html); context
                 wiring in HorillaNavView.get_context_data via this Nav's own
                 filter_instance (single-filterset Nav, same as
                 recruitment.cbv.pipeline.RecruitmentCandidateNav). -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="oh-input-group">
                        <div id="customFilterRowsContainer-onboarding-candidate-tab" class="oh-custom-filter-rows"></div>
                        <button
                            type="button"
                            class="oh-custom-filter-add"
                            onclick="addCustomFilterRow('onboarding-candidate-tab')"
                        >+ {% trans "Add filter" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ custom_filter_fields|json_script:"customFilterFields-onboarding-candidate-tab" }}
{{ custom_filter_rows|json_script:"customFilterRows-onboarding-candidate-tab" }}
<script>
    initCustomFilterBuilder('onboarding-candidate-tab');
</script>
